# Игнорировать директорию venv
venv/

# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать директорию __pycache__
__pycache__/

# Игнорировать локальные файлы конфигурации
.env

# Игнорировать файлы баз данных
*.db
*.sqlite3

# Игнорировать файлы IDE (например, для PyCharm)
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы сборок
dist/
build/
*.egg-info/